.ContBigCard {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: scroll;
    z-index: 10;
    background-color: rgba(0, 0, 0, .5);
    scroll-behavior: smooth;
}
.bigCardContent {
    border-radius: 10px;
    overflow: hidden;
    position: absolute;
    top: 0;
    min-height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
    animation: bornBigCard .5s linear;
}
.imageDiv {
    width: 100%;
    height: 480px;
    position: relative;
}
.imageDiv > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
}

.shadow {
    position:absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, var(--backColor), transparent, transparent);
    display: flex;
    justify-content: center;
    align-items: center;
}
.movieControls {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}
.movieControls > h2 {
    margin-left: 2rem;
}
.controlsButtons {
    /* border: 1px solid red; */
    height: 45px;
    width: 20rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 65px;
    gap: 2%;
}
.controlsButtons > div {
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8rem;
    height: 100%;
}
.controlsButtons > div:first-of-type {
    /* height: 100%; */
    margin-left: 2rem;
    /* width: 8rem; */
}
.cardControls {
    width: 30%;
    height: 100%;
}
.closeButton {
    /* border: 1px solid red; */
    position: absolute;
    top: 0;
    right: 0;
    width: 2.3rem;
    height: 2.3rem;
    margin: 1rem;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: opacity(.8);
    cursor: pointer;
    padding: 0;
}
.closeButton:active {
    outline: 3px solid white;
}
.closeButton > img {
    width: 60%;
    height: 60%;
    object-fit: contain;
}
.infoDiv {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
}
.infoLeft {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.infoRight {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}
.infoStats {
    width: 100%;
    height: 30%;
    color: var(--textColor);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    font-weight: 500;
}
.infoStats > div {
    width: 3rem;
    height: 3rem;
}
.imgEnabled {
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: invert(1);
}
.imgDisabled {
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: invert(1) opacity(.5);
}
.descriptionOpen {
    width: 100%;
    min-height: 150px;
    text-align: left;
    font-weight: 500;
    position: relative;
}

.infoRight > div {
    width: calc(100% - .5rem - 50px);
    font-weight: 300;
    font-size: .9rem;
    text-align: left;
    margin-left: .5rem;
    margin-right: 50px;
}
.infoRight > div:first-of-type {
    margin-top: 20px;
}
.infoRight > div > span:first-of-type {
    color: rgba(255, 255, 255, .5);
}

@keyframes bornBigCard {
    0% {
        transform: scale(.2);
        filter: opacity(0)
    }
    100% {
        transform: scale(1);
        filter: opacity(1)
    }
}
@media screen and (min-width: 576px) {
    .movieControls > h2 {
        margin-left: 3rem;
    }
    .controlsButtons {
        width: 25rem;
    }
    .controlsButtons > div {
        width: 10rem;
    }
    .controlsButtons > div:first-of-type {
        margin-left: 3rem;
        width: 10rem;
    }
    .infoDiv {
        flex-direction: row;
        align-items: flex-start;
    }
    .infoDivOpen {
        flex-direction: row;
    }
    .infoLeft {
        width: 65%;
    }
    .infoRight {
        width: 35%
    }
    .infoStats {
        flex-wrap: nowrap;
    }
    .infoStats > span:first-of-type {
        margin-left: 50px;
        color: var(--greenColor);
    }
    .descriptionOpen > p {
        margin-left: 50px;
        margin-right: 10px;
    }
    
}
@media screen and (min-width: 768px) {
    .bigCardContent {
        width: 62%;
        top: 30px;
        min-width: 670px;
        top: 30px
    }
    .movieControls {
        width: 50%;
    }
    .cardControls {
        width: 50%
    }
}