.contBio {
    background: linear-gradient(73deg, white, rgb(245, 245, 245));
    border-radius: 10px;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Comfortaa';
    text-align: center;
    padding: 3% 0;
    margin: 3%;
}
.contBio > h1 {
    border-bottom: 3px solid var(--blue);
}
.contBio > p {
    margin: 2% 3%;
}

@media screen and (max-width: 700px) {
    .contBio {
        background: linear-gradient(73deg, white, rgb(245, 245, 245));
        border-radius: 10px;
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: 'Comfortaa';
        text-align: center;
        padding: 3% 0;
        margin: 10%;
    }
    .contBio > h1 {
        border-bottom: 3px solid var(--blue);
        font-size: 6vw;
    }
    .contBio > p {
        margin: 2% 3%;
        font-size: 4vw;
    }    
}