.contNavBar {
    height: 50px;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
    overflow: hidden;
    padding: 0 2%;
    font-family: 'Comfortaa';
    z-index: 5;
}

.link {
    text-decoration: none;
    color: grey;
    font-weight: 700;
    padding: 0;
    margin: 0;
    transition: all 0.2s ease;
}
.link:hover {
    border-bottom: 2px solid white;
    background: linear-gradient(0deg, rgb(100, 100, 100) 0%, black 50%)
    
}

.link > p {
    transition: all 0.2s ease;
    margin: 6px;
}
.activeLink {
    text-decoration: none;
    color: white;
    border-bottom: 2px solid white;
    transition: all 0.2s ease;
}
.activeLink > p {
    margin: 6px;
}
.image {
    transition: all 0.2s ease;
}
.image:hover {
    filter: brightness(50%) sepia(100) saturate(100) hue-rotate(200deg);
}

@media screen and (max-width: 700px) {
    .contNavBar {
        height: 50px;
        position: fixed;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background-color: black;
        overflow: hidden;
        padding: 0 15vw 0 0;
        font-family: 'Comfortaa';
        z-index: 5;
    }
    
    .link {
        text-decoration: none;
        color: grey;
        font-weight: 700;
        padding: 0;
        margin: 0;
        transition: all 0.2s ease;
    }
    .link:hover {
        border-bottom: 2px solid white;
        background: linear-gradient(0deg, rgb(100, 100, 100) 0%, black 50%)
        
    }
    
    .link > p {
        transition: all 0.2s ease;
        margin: 6px;
    }
    .activeLink {
        text-decoration: none;
        color: white;
        border-bottom: 2px solid white;
        transition: all 0.2s ease;
    }
    .activeLink > p {
        margin: 6px;
    }
    .image {
        /* transition: all 0.2s ease; */
        display: none;
    }
    /* .image:hover {
        filter: brightness(50%) sepia(100) saturate(100) hue-rotate(200deg);
    } */
}