@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grandstander:wght@100;200;400;600;900&display=swap');
:root {
  --blue: #3342F4;
  --sky: rgb(0, 204, 184);
  --border: rgba(255, 255, 255, 0.5);
  --white: rgb(240, 240, 240);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Comfortaa', 'Grandstander' 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* font-family: 'Comfortaa', cursive; */
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
