.contAboutMe {
    /* background: linear-gradient(180deg, black, rgba(0, 0, 0, 0.9)); */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* box-shadow: inset 0 15px 15px -10px  var(--blue); */
    min-height: 100vh;
}