.contHomeCard {
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: white; */
    color: black;
    /* box-shadow: 5px 0 0 5px red; */
    transition: all 0.2s ease;
    font-family: 'Comfortaa';
    text-align: center;
    text-shadow: 2px 2px 20px black;
}
/* .contHomeCard:hover {
    box-shadow: 0 0 0 25px var(--blue);
} */
.contHomeCard > h3 {
    font-size: 36px;
    font-weight: 600;
    margin: 2%;
}
.contHomeCard > p {
    margin: 1%;
    font-size: 28px;
    font-weight: 400;
}

@media screen and (max-width: 700px) {
    .contHomeCard {
        margin: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* background-color: white; */
        color: black;
        /* box-shadow: 0 0 0 10px var(--blue); */
        transition: all 0.2s ease;
        font-family: 'Comfortaa';
        text-align: center;
        text-shadow: 2px 2px 20px black;

    }
    .contHomeCard > h3 {
        font-size: 6vw;
        font-weight: 600;
        margin: 2%;
    }
    .contHomeCard > p {
        margin: 1%;
        font-size: 4vw;
        font-weight: 400;
    }
}